html {
    font-size: 62.5%;
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
} 

body {
    color: #040D12;
    background-color: #040D12;
    font-size: 1.6rem;
    font-family: "Roboto", sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
    color: #040D12;
    text-decoration: none;
    margin: 0;
}

.header,
.footer {  
    display: flex;  
    width: 100%;
    background-color: #183D3D;
    padding: 2rem;
    margin-bottom: 0;
}
.header h1{
    display: flex;
    align-items: end;
}
main{
    display: flex;
}
.main h1 {
    margin: 2rem;
    text-align: center;
    font-size: 5rem;
    font-weight: 900;
}
.main .container{
    display: flex;
    justify-content: center;
}

 .form{    
    width: 350px;
    background-color: #93B1A6;
    border-radius: 1rem;
    padding: 2.5rem;
    margin: 2rem;
}
.btn-send{
    display: flex;
    padding-right: 2rem;
    justify-content: flex-end;
}